body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tablero-container {
    margin-top: 20px;
}

#tablero { /* Asegúrate de que el estilo se aplica al ID correcto */
    display: grid;
    grid-template-columns: repeat(10, 30px); /* Define 10 columnas de 30px de ancho */
    grid-gap: 2px; /* Espacio entre las celdas */
}

.celda {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.celda.revelada {
    background-color: #eee;
    border-color: #999;
    cursor: default;
}

.celda.mina {
    background-color: red;
    color: white;
}

.celda.bandera {
    background-color: yellow;
}

#mensaje {
    margin-top: 10px;
    font-weight: bold;
}
